<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogroll App</title>
</head>
<body>
    <div class="containter">
        <h1>Blogroll App</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr>
                <td><input type="text" class="form-control author-input"></td>
                <td><input type="text" class="form-control title-input"></td>
                <td><input type="text" class="form-control url-input"></td>
                <td><button class="btn btn-primary add-blog">Add</button></td>
            </tr>
            <tbody class="blogs-list">
            </tbody>
        </table>
    </div>

    <script type="text/template" class="blogs-list-template">
        <td><span class="author"><%= author %></span></td>
        <td><span class="title"><%= title %></span></td>
        <td><span class="url"><%= url %></span></td>
        <td><button class="btn btn-warning edit-blog">Edit</button>
            <button class="btn btn-danger delete-blog">Delete</button>
            <button class="btn btn-success update-blog" style="display:none">Update</button>
             <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
    </script>

    <!-- <script type="text/template" src="blog-list-template.html" class="blogs-list-template"></script> -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
